## 1. SQL query to retrieve the names and email addresses of all employees from a table named "Employees":

### CODE

In [ ]:
SELECT name, email FROM Employees;

### Explaination

This query selects the "name" and "email" columns from the "Employees" table. 
It retrieves all rows from the table and returns the names and email addresses of all employees.

## 2. SQL query to filter records from a table named "Customers" where the "City" column is 'New York'

### CODE

In [ ]:
SELECT * FROM Customers WHERE City = 'New York';

### Explaination

This query selects all columns (*) from the "Customers" table. 
It filters the records based on the condition City = 'New York', returning only the rows where the city is 'New York'.

## 3. SQL query to sort records in descending order based on the "DateOfBirth" column in a table named "Users"

### QUERY

In [ ]:
SELECT * FROM Users ORDER BY DateOfBirth DESC;

### Explaination

This query selects all columns (*) from the "Users" table. 
It sorts the records in descending order (DESC) based on the "DateOfBirth" column, which means the records will be displayed from the latest date of birth to the earliest.

## 4. SQL query to sort records in ascending order based on the "RegistrationDate" column in a table named "Users"

### QUERY

In [ ]:
SELECT * FROM Users ORDER BY RegistrationDate ASC;

### EXPLAINATION

This query selects all columns (*) from the "Users" table. 
It sorts the records in ascending order (ASC) based on the "RegistrationDate" column, which means the records will be displayed from the earliest registration date to the latest.

## 5. SQL query to find the employee with the highest salary from a table named "Employees" and display their name, position, and salary

### QUERY

In [ ]:
SELECT name, position, salary FROM Employees ORDER BY salary DESC LIMIT 1;

### EXPLAINATION

This query selects the "name," "position," and "salary" columns from the "Employees" table.
It sorts the records in descending order (DESC) based on the "salary" column and retrieves only the first row (LIMIT 1), which represents the employee with the highest salary.

## 6. SQL query to retrieve records from a table named "Customers" where the "Phone" column matches the pattern '+1-XXX-XXX-XXXX'

## QUERY

In [ ]:
SELECT * FROM Customers WHERE Phone LIKE '+1-___-___-____';

### EXPLAINATION

This query selects all columns (*) from the "Customers" table. 
It filters the records using the LIKE operator and the pattern '+1---____', where each underscore represents a digit (0-9). This pattern matches phone numbers in the format '+1-XXX-XXX-XXXX'.

## 7. SQL query to retrieve the top 5 customers with the highest total purchase amount from a table named "Orders" and display their names and total purchase amounts

### QUERY

In [ ]:
SELECT name, SUM(purchase_amount) AS total_purchase_amount
FROM Orders
GROUP BY name
ORDER BY total_purchase_amount DESC
LIMIT 5;

## EXPLAINATION

This query selects the "name" column and calculates the sum of the "purchase_amount" column, renaming it as "total_purchase_amount." 
It performs the calculation for each customer by grouping the records using GROUP BY name. 
The results are then sorted in descending order (DESC) based on the total purchase amount and limited to the top 5 rows (LIMIT 5).

## 8. SQL query to calculate the percentage of sales for each product category in a table named "Sales" and display the category name, total sales amount, and the percentage of total sales

### QUERY

In [ ]:
SELECT category_name, SUM(sales_amount) AS total_sales_amount,
       (SUM(sales_amount) / (SELECT SUM(sales_amount) FROM Sales)) * 100 AS sales_percentage
FROM Sales
GROUP BY category_name;

## EXPLAINATION

This query selects the "category_name" column and calculates the sum of the "sales_amount" column, renaming it as "total_sales_amount." 
It also calculates the percentage of each category's sales by dividing the total sales amount for each category by the overall sum of sales amounts from the "Sales" table. 
The percentage is multiplied by 100 to get a percentage value. The results are grouped by the "category_name" column.

## 9. SQL query to find the customers who have made the highest total purchases across all years from a table named "Orders" and display their names, email addresses, and the total purchase amount

### QUERY

In [ ]:
SELECT name, email, SUM(purchase_amount) AS total_purchase_amount
FROM Orders
GROUP BY name, email
HAVING total_purchase_amount = (SELECT MAX(total_purchase_amount) FROM (SELECT SUM(purchase_amount) AS total_purchase_amount FROM Orders GROUP BY name, email) AS subquery);

## EXPLANATION

This query selects the "name" and "email" columns from the "Orders" table and calculates the sum of the "purchase_amount" column, renaming it as "total_purchase_amount." 
The results are grouped by the "name" and "email" columns.
The HAVING clause filters the groups to include only those with a total purchase amount equal to the maximum total purchase amount calculated across all customers. 
This is achieved using a subquery that calculates the total purchase amount for each customer and then finds the maximum value.